# MongoDB Connection
MONGODB_URI=mongodb://localhost:27017/openvpn-dashboard

# JWT Secret (use a long random string)
JWT_SECRET=your-super-secret-jwt-key-here

# OpenVPN Config Files Path (server directory)
OVPN_OUTPUT_PATH=/root
OVPN_BASE_CONFIG=/etc/openvpn/server/client-common.txt
EASY_RSA_PATH=/etc/openvpn/server/easy-rsa

# Next.js
NEXTAUTH_SECRET=your-nextauth-secret
NEXTAUTH_URL=http://localhost:3000

OPENVPN_STATUS_LOG=/run/openvpn-server/status-server.log

# Admin default credentials (used only for first run seed)
ADMIN_DEFAULT_EMAIL=admin@vpn.local
ADMIN_DEFAULT_PASSWORD=Admin@1234